<script src="{{.Site.BaseURL}}/libs/bulmajs/tabs.js"></script>


<!--script src="{{ .Site.BaseURL}}/libs/prism/prism.js"></script-->



<!-- http://openseadragon.github.io -->
<script src="{{.Site.BaseURL}}/libs/openseadragon/openseadragon.js"></script>

<script>
  var baseSegment = "{{$.Site.Params.baseSegment}}";
</script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>


<!-- Intense Images
<script src="{{.Site.BaseURL}}/libs/intense-images/intense.js"></script>
<script>
  window.onload = function () {
    // Intensify all images on the page.
    var element = document.querySelector('img');
    Intense(element);
  }
</script>
-->